.contenedorInformacion {
    margin: 20px;
    width: 500px;
    height: 500px;
}

.trans:hover {
    opacity: 1;
    transition: 1s;
}

.contenidoPrincipal {
    border-radius: 5px;
    padding: 20px;
    display: block;
    align-items: center;
    width: 500px;
    height: 500px;
}

.btnColor {
    background: pink;
}

h1 {
    font-size: 21px;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

.imagenContenedor {
    width: 100%;
    height: 100%;
}

.card {
    margin: 20px;
    position: relative;
}

.contenedorArriba {
    width: 100%;
    height: 60px;
}

.imagenCarrito {
    width: 100%;
    height: 700px;
}

.imgCar {
    width: 80px;
    height: 100px;
}

.btnCargando {
    color: rgb(66, 66, 66);
    background: pink;
}