.contenedorInformacion {
    margin: 20px;
    width: 500px;
    height: 500px;
}

.trans:hover {
    opacity: 1;
    transition: 1s;
}

.contenidoPrincipal {
    border-radius: 5px;
    padding: 20px;
    display: block;
    align-items: center;
    width: 500px;
    height: 500px;
}

.btnColor {
    background: pink;
}

h1 {
    font-size: 21px;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

.imagenContenedor {
    width: 100%;
    height: 100%;
}

.card {
    margin: 20px;
    position: relative;
}

.contenedorArriba {
    width: 100%;
    height: 60px;
}

.imagenCarrito {
    width: 100%;
    height: 700px;
}

.imgCar {
    width: 80px;
    height: 100px;
}

.btnCargando {
    color: rgb(66, 66, 66);
    background: pink;
}

.contenedorEnvios {
    height: 45px;
    background: black;
    position: relative;
    overflow: hidden;
}

.izquierda {
    width: 500px;
    height: 400px;
    position: absolute;
    left: -400px;
    display: inline-block
}

.derecha {
    width: 500px;
    height: 100px;
    position: absolute;
    left: 800px;
    display: inline-block;
}

.textoEnvios {
    color: pink;
    font-size: 25px;
}

.textoEnvio {
    color: rgb(250, 109, 132);
    font-size: 28px;
}